.card {
  width: 550px;
  height: 220px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.card .photo {
  padding: 13px;
  display: flex;
  align-items: center;
}

.card .photo > img {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.card .info {
  width: 100%;
  padding: 10px;
  position: relative;
}

.card .info .info_title {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.card .info .info_title > input {
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: transparent;
}

.card .info .info_role {
  margin-bottom: 10px;
}

.card .info .info_role > span {
  font-size: 13px;
  margin-right: 20px;
  color: #333333;
}

.card .info .info_role > input {
  border: none;
  outline: none;
  background-color: transparent;
}

.card .info .info_description {
  margin-bottom: 10px;
}

.card .info .info_description > span {
  font-size: 13px;
  margin-right: 20px;
  color: #333333;
}

.card .info .info_description > input {
  border: none;
  outline: none;
  background-color: transparent;
}

.card .info .info_startDate {
  margin-bottom: 10px;
}

.card .info .info_startDate > span {
  font-size: 13px;
  margin-right: 20px;
  color: #333333;
}

.card .info .info_startDate > input {
  border: none;
  outline: none;
  background-color: transparent;
}

.card .info .info_dueDate {
  margin-bottom: 10px;
}

.card .info .info_dueDate > span {
  font-size: 13px;
  margin-right: 20px;
  color: #333333;
}

.card .info .info_dueDate > input {
  border: none;
  outline: none;
  background-color: transparent;
}

.card .info .info_buttons {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

/* theme colors */
.red {
  background-color: #fa897b;
}

.yellow {
  background-color: #fac87c;
}

.green {
  background-color: #deeb8d;
}

.blue {
  background-color: #7caefa;
}

.purple {
  background-color: #b399ed;
}

.basic {
  background-color: #eeeeee;
}
