* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.card_area {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefcf9;
}

.card_area .card_form {
  width: 100%;
  position: relative;
}

.loading {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid #f9c87c;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
