* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.card_area {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: #fefcf9;
}

.card_area .card_form {
  width: 100%;
  position: relative;
}
